.posts-section {
  margin-top: 15px;
}

.posts-list {
  margin: 20px;
}

.post-item {
  margin-bottom: 10px;
}

.post-item {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 3em;
  height: 100%;
}

form.post-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

textarea {
  border-radius: 0.2rem;
}

li.post-item {
  background-color: grey;
  gap: 0.5rem;
  border-radius: 0.2rem;
  width: 25rem;
  padding: 1rem;
  margin: .5rem;
  border-style: solid;
  border-color: #1976d2;
  border-width: .1rem;
}

ul.posts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  list-style: none;
}

.post-content,
.names-date {
  display: inline;
  color: black;
  font-family: helvetica;
  font-style: normal;
  display: flex;
}

li {
  list-style-type: none;
}

.posts-section {
  font-family: helvetica;
  font-style: normal;
}

.post-content {
  background-color: whitesmoke;
  border-radius: 0.2rem;
  width: 15rem;
  font-size: 12pt;
  padding: 0.5rem;
}

.names-date {
  margin-top: 0.4rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  font-size: 10pt;
}