.posts-section {

}

.posts-list {
  margin: 20px;
}

.post-item {
  display: flex;
  justify-content: center;
  padding: 3em;
  /* border-style: solid;
  border-color: #9e9e9e;
  row-gap: 10px;
  flex-flow: row wrap; */
}

.post-content {
  display: flex;
}

li {
  list-style-type: none;
}

