.profile {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile h1 {
  margin: 0;
  margin-top: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0 2rem 0;
  padding: 1.5rem 3rem 2rem 3rem;
  border: #4b4b56 solid 1px;
  border-radius: 3px;
  min-width: 300px;
  max-width: 700px;
}

.profile-info div {
  display: flex;
  justify-content: space-between;
}

.dialog-title {
  margin: 3rem 0 1rem 0;
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 25rem;
}

.user-form-input {
  width: 100%;
  background-color: white;
}

/* Deactive users on hover effect */
.deactive-user:hover {
  cursor: not-allowed;
}

.full-name.deactivated {
  color: gray;
}

.githubUrl {
  cursor: pointer;
}

.githubUrl.deactivated {
  cursor: default;
  text-decoration: none;
  color: gray;
}

.githubUrl.deactivated:hover {
  text-decoration: none;
}
