.registration-page {

}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-form-input {
  width: 100%;
  background-color: white;
}

.user-form-input-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 50px;
}

/* Styling */
h4 {
  color: black;
}