.link {
    color: #ffa500;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile {
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
}

.profile-img {
  border-radius: 50%;
}