.link {
    color: #ffa500;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-form {
    display: grid;
    grid-auto-columns: 25rem;
    grid-auto-rows: 15rem;
  }
  
  .user-form-input {
    width: 100%;
    background-color: white;
  }