.view-cohort-container {
  position: relative;
  background-color: white;
  margin-inline: auto;
  max-width: 60rem;
  margin-block: 30px;
  border-radius: 4px;
  color: black;
  padding: 20px;
  min-height: 500px;
}

.view-cohort-container ul {
  list-style-type: none;
}

.view-cohort-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.view-cohort-students {
  text-align: start;
  margin-top: 8px;
}

.view-cohort__student-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(218, 218, 218);
  margin-block: 14px;
}

.view-cohort__profile-image {
  height: 50px;
  width: 50px;
  border: lightgray solid 1px;
  border-radius: 50%;
}

.view-cohort__user-text {
  font-size: larger;
  font-weight: 600;
  margin-left: 20px;
  text-align: start;
}

.view-cohort__user-email {
  font-size: small;
  font-weight: 400;
  color: gray;
}

.view-cohort-logs-header {
  display: flex;
  justify-content: space-between;
}

.view-cohort__log-card {
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(218, 218, 218);
  margin-block: 14px;
}

.view-cohort__log-card-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.logs-list {
  margin-top: 20px;
  text-align: start;
}

.log-list-item {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: all 300ms;
}

.log-list-item:hover .log-list-item-delete,
.log-list-item:focus-within .log-list-item-delete {
  transition: opacity 300ms;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.log-list-item:hover,
.log-list-item:focus-within {
  background-color: #1976d222;
  transition: all 300ms;
}

.log-list-item-delete {
  transition: opacity 300ms;
  opacity: 0;
}

.log-list-item-delete:hover,
.log-list-item-delete:focus {
  fill: rgb(182, 1, 1);
}

.add-log-list {
  display: flex;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: fit-content;
  padding-inline: 10px;
  margin-left: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .view-cohort-content {
    display: block;
  }
}
