.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9d9c9c;
  margin-bottom: 2rem;
}

.table-container h1 {
  margin: 1rem;
}

.btns__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.user-account-actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.dialog-instruction {
  margin-top: 3rem;
  text-align: center;
  padding: 0 2rem;
}

.dialog-instruction > p {
  margin-bottom: 1rem;
}

.dialog-warning {
  color: red;
}

.deactivate-buttons-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
