.main-container-header {
    background-color: rgb(97, 101, 107);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 99.4vw;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
}

.header-logo h1 {
    font-size: 2rem;
}

.header-search-bar {
    display: flex;
    align-content: center;
    justify-content: center;
}

.header-right-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.search-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}