@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0 0 1rem;
}

.company-name {
    font-family: 'Rubik Dirt', cursive;
    font-size: 1.7rem;
}