.header-container {
  display: flex;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 700px) {
  .logo-container {
    visibility: hidden;
    width: 0;
  }
}
