.cohort-container {
  border: solid #616171 3px;
  border-radius: 5px;
  margin: 20px 50px;
  padding: 2rem;
  max-width: 20rem;
}
.cohortList-title {
  margin-bottom: 15px;
}
.cohort-list {
  display: grid;
  row-gap: 5px;
}