.posts-section {
}

.posts-list {
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: 100vw;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.post-item {
  width: 60%;
  justify-self: center;
  text-align: left;
  border-radius: 12px;
  list-style: none;
  cursor: pointer;

  background-color: black;
  padding: 2rem 0;
  padding-left: 20px;
  margin-bottom: 2rem;
}
