.container{
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 50px;
  margin-right: 30px;
  gap: 15px;
  max-width: 80%;
  margin-left: 10%
}

ul{
  list-style: none;
}

.border {
  border: 2px rgb(211, 197, 197) solid;
  padding: 5px;
}

.profile-picture{
  max-width: 5rem;
}

.cohort-form{
  background-color: aliceblue;
}
