.BigContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 75% 25%;
}


.Container_cohorts {
    border: 2px solid black;

}

.Container_addStudent {
    display: grid;
    grid-template-rows: 50px 1fr;

}

.add-student-container {
    display: flex;
    flex-flow: column wrap;
    /* align-content: center; */
}

.add-student {
    display: inline-block;
    align-items: center;
    text-align: left; 
    margin-left: 0.7rem;
}

.add-student-card {
    display: grid;
    grid-template-columns: 30% 70%;
}

