.BigContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 16rem;
    padding: 1rem;
}

.Container_cohorts {
    /* border: 2px solid black; */

}

.Container_addStudent {
    display: grid;
    grid-template-rows: 50px 1fr;

}

.add-student-container {
    display: flex;
    flex-flow: column wrap;
}

.add-student {
    display: flex;
    align-items: center;
    justify-items: left; 
    margin-left: 0.7rem;
}

.add-student-card {
    display: grid;
    grid-template-columns: 3rem 70%;
    height: 3rem;
}

.add-student-card button{
    margin: 6px 3px;
    border-radius: 4px;
}

