.BigContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.Container_cohorts {
    border: 2px solid black;

}

.Container_addStudent {
    display: grid;
    grid-template-rows: 50px 1fr;

}

.add-student-container {
    display: flex;
    flex-flow: column wrap;
}

.add-student {
    display: inline-block;
}

.add-student-card {
    display: grid;
    grid-template-columns: 35% 65%;
}