.App {
  text-align: center;
}

.App-header {
  background-color: #2a2c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 40px;
}

#user-registration-link,
#user-login-link {
  text-decoration: none;
  color: orange;
}

#user-registration-link {
  margin-right: 2rem;
}

#user-login-link {
  margin-left: 2rem;
}

#user-submit-button {
  margin: 2rem;
}
