.admin-section {
  max-width: 62rem;
  width: 100%;
  margin-top: 1rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.admin-section-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 650px) {
  .admin-section-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.admin-section-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.admin-section-nav button {
  height: fit-content;
}

.admin-section-cohort__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.cohorts_view h4 {
  text-align: 'left'; 
  margin-top: '10px'
}

